:root {
    --capability-component-base-width: 30px;
    --capability-component-base-height: 30px;
    --capability-component-base-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.2);
    --capability-component-base-border-radius: 12px;
    --modal-body-height: 70vh;
    --capability-component-disabled-bg-color: #F8F8F8;
}